<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Meta Info -->
    <meta charset="utf-8">
    <title>Tutor | mariosanchez.org</title>
    <meta name="author" content="Mario Sanchez Carrion">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Scripts-->    
    <script src="/js/theme.js"></script>
<!-- Styles -->
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
  </head>
  <body>
  <div class="header"></div>
    <a href="/">
      <div class="avatar">
        <a style="cursor:pointer;">
        <span class="icon" id="toggle-switch"> <i class="fas fa-sun fa-2x hd"></i></span><br />
        </a>
      </div>
    </a>
  <div>
  <div class="container">
        <br />

{{ .Content }}

<br />
<hr />
  <p class="centered small">
    &copy; 2022 Mario Sanchez Carrion
  </p>
  </div>
  </div>
  </body>
  </html>