/* Minimal Reset */

html { 
  overflow-y: scroll; 
}


/* Base Style */

body {
  background-color:#282923;
  color: #ddd;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-family: Impact, Charcoal, sans-serif; 
}


/* Grid */

.container {
  max-width: 45em;
  margin: 1rem auto;
  padding: 0 3%;  
}


/* Links */

a:link, 
a:visited, 
a:active {
  color: #6F0;
  text-decoration: none;
}
	  
a:hover,
a:focus {
  text-decoration: underline;
}


/* Lists */

ul {
  list-style-type: square;
}

/* Navigation */ 

nav {
  text-align: center;
  margin: 2.0rem 0;
}

nav a:link,
nav a:visited, 
nav a:active {
  color: #555; 
  text-decoration: none; 
}

nav a:hover,
    a:focus {
  color: #DDD;
  text-decoration: underline;
}

nav li {
  display: inline-block;
  margin-right: 2.5em;
  margin-left: -1.0em;
  font-size: 80%;
}


.logo {
  font-size: 4em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.logo a:link, 
.logo a:visited,
.logo a:active {
  text-decoration: none;
  color: #ddd;  
}


/* Code */

code {
  padding: .1rem .2rem;
  margin: .5rem 0.2em;
  border-radius: 4px;
  white-space: nowrap;
  background-color: #999;
  color: #000;
  font-size: 1.15em;
}

pre > code {
  display: block;
  padding: 1.0rem;
  white-space: pre;
  color: #FFF;
  background-color: transparent;
  overflow-x: auto;
}

pre {
  autoflow: auto;
  border-radius: 6px;
}
 

/* Profile pix */

img.profile.small{
  width: 165px;
}

img.profile.round {
  border-radius: 50%;  
}

img {
  max-width: 100%;
}

.avatar {
  background-image: url('../img/msc.jpg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}

/* Image Gallery */

.picbox {
  display: inline-block;
  margin: 0.5em;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  font-size: 1.0em;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  margin-bottom: 28px;
  margin-left: 5px;
  padding: 0.6em;
  box-sizing: border-box;  
}

img.gallery {
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 2%;
}

img.gallery.medium,
img.gallery.large {
  width: 100%;
}


/* Other Page Elements */

blockquote {
  position: relative;
  padding-left: 1.5em;
  border-left: 0.2em solid rgb(206, 186, 186);
  margin: 1.5em 0em;
  font-style: italic;
}

p.small {
  font-size: 0.9em;
}

p.description {
  color: #999;
}

.date {
  color: #999;
}

abbr {
  cursor: help;
}

.centered {
  text-align: center;
}

.header {
  height: calc(100vh - 120px);
  width: 100%;
  max-height: 80px;
  background-size: cover;
  background-color: #414141;	
  background-image: url('');
}

mark {
  background-color: rgba(144,238,144, 0.35);
  color: #ddd;
  padding: 3px;
}

/* Icons */

i.fa,
i.ft,
i.hd {
  color: #DDD;  
}

i.ft {
  margin-right: 1.0rem;  
}

i a:link,
i a:visited,
i a:active {
  text-decoration: none;
}



/* Media Queries */

@media (min-width: 769px) {

img.gallery.medium {
  width: 300px;
}

img.gallery.large {
  width: 500px;
}

}



