/* Minimal Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  overflow-y: scroll; 
}


/* Base Style */

body {
  font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;  
  background-color:#282923;
	color: #ddd;
}


/* Grid */

.container {
  max-width: 40em;
  margin: 1rem auto;
  padding: 0 3%;  
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: .4em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: .4em;
  margin-top: 1.50em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: .35em;
  margin-top: 1.50em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: .35em;
  margin-top: 1.35em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: .3em;
  margin-top: 1.3em
}

h6 {
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: .3em;
  margin-top: 1.3em;
}


/* Links */

a:link, 
a:visited, 
a:active {
	color: #6F0;
  text-decoration: none;
}
	  
a:hover,
a:focus {
  text-decoration: underline;
}


/* Lists */

ul {
  list-style-type: square;
}

ul, ol {
  margin-bottom: 1.0rem;
  margin-top: 0.5em;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 1.2rem;
}

blockquote {
  position: relative;
  padding-left: 1.5em;
  border-left: 0.2em solid rgb(206, 186, 186);
  margin: 1.5em 0em;
}

/* Navigation */ 

nav {
  text-align: center;
  margin-bottom: 2.0rem;
}

nav a {
  display: block;
  text-align: center;    
  text-decoration: none;
}

nav a:link,
nav a:visited, 
nav a:active {
  color: #555;  
}

nav a:hover,
    a:focus {
  color: #DDD;
}

nav ul {
  margin-left: 0rem;  
  margin-top: 0.15rem;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 1.5em;
  font-size: 75%;
}
  
a.logo:link,
a.logo:visited,
a.logo:active {
  text-decoration: none;
  color: #ddd;
  font-size: 2em;
}

a.codelink:link,
a.codelink:visited,
a.codelink:active {
  color: #999;
}

a.codelink:hover {
  color: #CCC;
}


/* Code */

code {
  padding: .2rem .2rem;
  margin: .5rem 0.2em;
  border-radius: 4px;
  font-size: 80%;
  white-space: nowrap;
  background-color: #999;
  color: #000; 
}

pre > code {
  display: block;
  padding: 1.0rem;
  white-space: pre; 
  color: #FFF;  
  background-color: transparent;
  overflow-x: auto;
}

pre {
  autoflow: auto;
  border-radius: 6px;
}
 

/* Profile pix */

img.profile.small{
  width: 165px;
}

img.profile.round {
  border-radius: 50%;  
}

img {
  max-width: 100%;
}

.avatar {
  background-image: url('../img/msc.jpg');
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	position: relative;
	top: -50px;
	margin-bottom: -50px;
	border: 2px solid white;
	border-radius: 50px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}

/* Image Gallery */

.picbox {
  display: inline-block; 
  margin: 0.5em;
}

figure {
  margin: 0;
  position: relative;

}

figcaption {
  font-size: 1.0em;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  margin-bottom: 38px;
  margin-left: 5px;
  padding: 0.6em;
  box-sizing: border-box;  
}

img.gallery {
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 2%;
}

img.gallery.medium,
img.gallery.large {
  width: 100%;
}


/* Other Page Elements */

hr {
  border: 1 solid #DDD;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-top: 4.0em;
  margin-bottom: 1.5em;
}

hr.art {
  margin-top: 2.0em;
}

p {
  margin-top: 1.0em;
  margin-bottom: 1.2em;
}

p.small {
  font-size: 0.9em;
}

p.description {
  color: #999;
  margin-top: -0.5em;
  font-size: 0.9em;
}

.date {
  color: #999;
}

mark {
  background-color: rgba(144,238,144, 0.35);
  color: #ddd;
}

i.fa,
i.ft {
  color: #999;  
}

i.ft {
  margin-right: 1.0rem;  
}

i.hd {
  color: #ddd;
}


i a:link,
i a:visited,
i a:active {
  text-decoration: none;
}

abbr {
  cursor: help;
}

#copyright {
float: right;
}

.centered {
  text-align: center;
}

.header {
	height: calc(100vh - 120px);
  width: 100%;
	max-height: 100px;
	background-size: cover;
	background-color: #414141;	
  background-image: url('');
}

/* Media Queries */

@media (min-width: 769px) {

nav {
  text-align: left;
}

.logo {
  display: inline-block;
}

p.description {
  font-size: 1em;
}


img.gallery.medium {
  width: 300px;
}

img.gallery.large {
  width: 500px;
}

figcaption {
  font-size: 0.6375em;
}
}



