/* Minimal Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  overflow-y: scroll; 
}


/* Base Style */

body {
  
  background-color:#FFF;
  font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;  
  color:#464646;
}


/* Grid */

.container {
  max-width: 40em;
  margin: 1rem auto;
  padding: 0 3%;  
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; 
  color: #000;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: .4em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: .4em;
  margin-top: 1.50em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: .35em;
  margin-top: 1.50em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: .35em;
  margin-top: 1.35em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: .3em;
  margin-top: 1.3em
}

h6 {
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: .3em;
  margin-top: 1.3em;
}


/* Links */

a:link, 
a:visited, 
a:active {
  color: #1962ff;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}


/* Lists */

ul {
  list-style-type: square;
}

ul, ol {
  margin-bottom: 1.0rem;
  margin-top: 0.5em;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 1.2rem;
}

blockquote {
  position: relative;
  padding-left: 1.5em;
  border-left: 0.2em solid #464646;
  margin: 1.5em 0em;
}

/* Navigation */ 

nav {
  text-align: center;
  margin-bottom: 3.5rem;
}

.blocknav a {
  display: block;
  text-align: center;    
  text-decoration: none;
}

.blocknav a:link, 
.blocknav a:visited, 
.blocknav a:active {
  color: #555;
  font-weight: bold;
}

.blocknav a:hover,
.blocknav a:focus {
  color: #DDD;
}
  
.blocknav li {
  list-style-type: none;
  margin-left: 0;
  font-size: 75%;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

ul.blocknav {
  margin-bottom: 1.0em;
  margin-left: 0;
  text-align: center;
}

a.logo {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

a.logo:link,
a.logo:visited,
a.logo:active {
  text-decoration: none;
  color: #464646;
}

a.codelink:link,
a.codelink:visited,
a.codelink:active {
  color: #999;
}

a.codelink:hover {
  color: #CCC;
}


/* Code */

code {
  padding: .2rem .2rem;
  margin: .5rem 0.2em;
  border-radius: 4px;
  font-size: 70%;
  white-space: nowrap;
  background-color: #eeeef0;
  color: #000;
}

pre > code {
  display: block;
  padding: 1.0rem;
  white-space: pre; 
  border-radius: 4px;
  color: #000;
  overflow-x: auto;
}

pre {
    overflow: auto;
}


/* Profile pix */

img.profile.small{
  width: 165px;
}

img.profile.round {
  border-radius: 50%;  
}

img {
  max-width: 100%;
}

.avatar {
  background-image: url('../img/msc.jpg');
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	position: relative;
	top: -50px;
	margin-bottom: -50px;
	border: 2px solid white;
	border-radius: 50px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
}

/* Image Gallery */

.picbox {
  display: inline-block; 
  margin: 0.5em;
}

figure {
  margin: 0;
  position: relative;

}

figcaption {
  font-size: 1.0em;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  margin-bottom: 38px;
  margin-left: 5px;
  padding: 0.6em;
  box-sizing: border-box;  
}

img.gallery {
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 2%;
}

img.gallery.medium,
img.gallery.large {
  width: 100%;
}


/* Other Page Elements */

hr {
  border: 1 solid #DDD;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-top: 4.0em;
  margin-bottom: 1.5em;
}

hr.art {
  margin-top: 2.0em;
}

p {
  margin-top: 1.0em;
  margin-bottom: 1.2em;
}

p.small {
  font-size: 0.9em;
}

p.timeline {
  margin: 0;
}

.date {
  color: #999;
}

mark {
  background-color: rgba(144,238,144, 0.35);
  color: #464646;
}

i[class^="fa"] {
  color: #999;
  margin-right: 1.0rem;  
}

i a:link,
i a:visited,
i a:active {
  text-decoration: none;
}

abbr {
  cursor: help;
}

#copyright {
float: right;
}

.centered {
  text-align: center;
}

.header {
	height: calc(100vh - 120px);
  width: 100%;
	max-height: 130px;
	background-size: cover;
	background-color: #414141;	
  background-image: url('/img/header.jpg');
}

.tagbox {
  text-transform: uppercase;
  font-size: 0.65em;
  background-color: #777;
  list-style-type: none;
  border-radius: 10%;
  display: inline-block;
  text-decoration: none;
  margin: 0px 0px 0px 5px;
  padding: 0 5px;
  line-height: 1.3em;
}

.tagbox a:link, 
.tagbox a:visited, 
.tagbox a:active {
  text-decoration: none;
  color: #FFF;
}
.tagbox a:hover {
  color: #d9d7d5;
}

.intro {
  font-size: 1.3rem;
}


/* Media Queries */

@media (min-width: 769px) {

nav {
  text-align: left;
}

.logo {
  display: inline-block;
}

ul.blocknav {
  margin-top: 0.15rem;
}

.blocknav li {
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

img.gallery.medium {
  width: 300px;
}

img.gallery.large {
  width: 500px;
}

figcaption {
  font-size: 0.6375em;
}
}


@media(prefers-color-scheme:dark) {
	
body {
  background-color:#282923;
	color:rgb(206, 186, 186);
	}
	
a:link, a:visited, a:active {
	color:#6F0;
	}
	  
a.logo:link,
a.logo:visited,
a.logo:active {
  text-decoration: none;
  color: #ddd;
  }
	
h1, h2, h3, h4, h5, h6 {
  color: rgb(206, 186, 186)
  }
 
mark {
  color: #ddd;
  }

.header {
    background-image: none;  
  }

}


