/* minimal css style sheet by MSC */
/* Last updated: January 8, 2023 */

/* Light/Dark Themes Variables */

html { 
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 112.5%;  
  --bck-color: #FFF;
  --box-shadow: inset 0 -0.2em rgb(255 213 0 / 50%);
  --ft-color: #24292e;
  --link-color: #0366d6;
  --header-color: #e5e4e2;
  --mk-bckg: #FDFD96;
  --mk-color: #24292e;
  --ft-desc: #6b645d;
  --ft-hover: #999;
}

html.light {
  --bck-color: #FFF;
  --box-shadow: inset 0 -0.2em rgb(255 213 0 / 50%);
  --ft-color: #24292e;
  --link-color: #0366d6;
  --header-color: #e5e4e2;
  --mk-bckg: #FDFD96;
  --mk-color: #24292e;
  --ft-desc: #6b645d;
  --ft-hover: #999;
}

html.dark {
  --bck-color: #282923;
  --box-shadow: inset 0 -0.15em rgb(255 255 0 / 100%);
  --nav-color: #34D399;
  --ft-color: #DDD;
  --link-color: #6F0; 
  --header-color: #414141; 
  --mk-bckg: rgba(144,238,144, 0.35);
  --mk-color: #DDD;
  --ft-desc: #999;
  --ft-hover: #999;
}


/* HTML Elements */

body {
  background-color: var(--bck-color);
  color: var(--ft-color);
  margin: 0 auto;
  padding: 0;
  line-height: 1.5rem;
  font-family: 'Hack', 'DejaVu Sans', sans-serif; 
}

h1, h2, h3 {
  margin-top: 1.8em;
  line-height: 1.2em;
}

a:link, 
a:visited, 
a:active {
  text-decoration: none;
  box-shadow: var(--box-shadow);
  color: var(--ft-color);
  padding-bottom: 0.3em;
}
	  
a:hover,
a:focus {
  text-decoration: none;
  color: var(--ft-hover);
  box-shadow: none;
}

ul {
  list-style-type: square;
}

li {
  line-height: 1.8rem;
}

img {
  max-width: 100%;
}

nav {
  text-align: center;
  margin: 2.0rem 0;
}

nav a:link,
nav a:visited, 
nav a:active {
  color: var(--nav-color); 
  text-decoration: none; 
  box-shadow: none;
}

nav a:hover,
    a:focus {
  color: #999;
  text-decoration: none;
  box-shadow: none;
}

nav ul {
  padding-inline-start: 0;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 120%;
}

blockquote {
  position: relative;
  padding-left: 1.5em;
  border-left: 0.2em solid var(--ft-color);
  margin: 1.5em 0em;
  font-style: italic;
}

hr {
  border: solid #E5E4E2;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}

code {
  padding: .1rem .2rem;
  margin: .5rem 0.2em;
  border-radius: 4px;
  white-space: nowrap;
  color: #f8f8f2; 
  background-color: #414141;
  font-size: 1.15em;
}

pre > code {
  display: block;
  padding: 1.0rem;
  white-space: pre;
  color: #FFF;
  background-color: transparent;
  overflow-x: auto;
}

pre {
  border-radius: 6px;
}

mark {
  background-color: var(--mk-bckg);
  color: var(--mk-color);
  padding: 3px;
}

abbr {
  cursor: help;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  font-size: 80%;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
  margin-left: 5px;
  padding: 0.6em;
  box-sizing: border-box;  
}


/* Special Classes */

.cont {
  margin: 1rem auto;
  padding: 0 3%;  
  max-width: 900px;
}

.logo {
  margin-top: 4.5rem;
  margin-bottom: 1.5rem;
}

.bullet a:link,
.bullet a:visited,
.bullet a:active {
  content: "]";
  color: var(--nav-color);
  text-decoration: none; 
  box-shadow: none;
}

.bullet a:after {
  content: ']'
}
.bullet a:before {
  content: '['
}

.bullet a:hover,
        a:focus {
  color: #999;
  text-decoration: none;
  box-shadow: none;
}

.logo a:link, 
.logo a:visited,
.logo a:active {
  text-decoration: none;
  box-shadow: none;
  color: var(--logo-link-color);  
}
 
img.profile.small{
  width: 150px;
}

img.profile.round {
  border-radius: 50%;  
}

.description {
  color: var(--ft-desc);
  font-weight: normal;
  font-size: 1.2em;
}

.light {
  color: #999;
}

.upper {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

.small {
  font-size: 0.8em;
}

.header {
  height: calc(100vh - 120px);
  width: 100%;
  max-height: 50px;
  background-size: cover;
  background-color: var(--header-color);	
  /* background-image: url('');*/
}

i.fa,
i.ft,
i.hd {
  color: var(--ft-color);  
}

i.ft {
  margin-right: 1.0rem;  
}

i a:link,
i a:visited,
i a:active {
  text-decoration: none;
  box-shadow: none;
}

.social {
  line-height: 2.3em;
  box-shadow: none;
}

.social a:link, a:visited, a:active {
  box-shadow: none;
  text-decoration: none;
}

.picbox {
  display: inline-block;
  margin: 0.5em;
}

.gallery {
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 2%;
  max-width: 98%
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 30px;
  position: relative;
  top: -16px;
  margin-bottom: -50px;  
  border-radius: 50px;
}

.cert {
  max-height: 550px;
  border-radius: 1%;
}

.carousel-control-next, 
.carousel-control-prev {
  top: 45%;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
  
  /* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #999;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box; }

/* Media Queries */

@media (min-width: 769px) {

img.medium {
  width: 300px;
}

img.large {
  width: 500px;
}

html {
  font-size: 120%;
}
}
