{{ partial "header.html" . }}

<main id="main">
  <h1>{{ .Title }}</h1>
  <p class="description">{{ .Description }}</p>  
  <hr />
    <article id="content">
    {{ .Content }}
    </article>  
</main>
<p class="small upper light">Last updated: {{ .Date.Format "Jan 2, 2006" }}</p>
<p><a href="/tags/{{ .Params.tags }}">{{ .Params.tags }}</a></p>

<hr />

<form action="https://tinyletter.com/mariosanchez" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mariosanchez', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">If you enjoyed my content please consider joining my private email list:</label></p><p><input type="text" placeholder="you@example.com" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Join" /><p class="small social" style="font-weight: 400pt"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>

{{ partial "footer.html" . }}

