{{ partial "header.html" . }}

<div class="row mb-4">
  <div class="col">
    <ul class="nav nav-tabs" role="tablist">

      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">
          Tutoring
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/coding/">
          Coding
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="course mb-4">
      <h4 class="mb-1" style="font-weight: 600">{{ .Title }}</h4>
  <p class="description">{{ .Description }}</p>  
  
      
      {{ .Content }}   


{{ partial "footer.html" . }}