<br />
<br />
  <p class="centered">
    <span class="small list">  
      <a href="https://mariosanchez.org/posts/index.xml" title="RSS"><i class="fa ft fa-rss" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/mariobox/" title="Linkedin"><i class="fab ft fa-linkedin fa-lg"></i></a>
      <a href="https://github.com/mariobox" title="Github"><i class="fab ft fa-github fa-lg"></i></a>
      <a href="mailto:mario@mariosanchez.org" title="Email"><i class="fas ft fa-envelope fa-lg"></i></a>
    </span>
  </p>
  <p class="centered small">
    &copy; 2023 Mario Sanchez Carrion
  </p>
  
</div>
</body>
</html>
