<!DOCTYPE html>
<html>
  <head>
<!-- Meta Info -->
    <meta charset="utf-8">
    <title>{{ .Title }} | mariosanchez.org</title>
    <meta name="author" content="Mario Sanchez Carrion">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "_internal/twitter_cards.html" . }}
<!-- Scripts-->
    <script src="https://kit.fontawesome.com/3fe16e504a.js" crossorigin="anonymous"></script>
<!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
<!-- Start Page -->
  <body>
		<div class="header"></div>
		<a href="/">
			<div class="avatar"></div>
		</a>
    <div class="centered">		
	  <a href="/" class="logo"><h1>msc</h1></a>
    <nav>
			  <ul class="blocknav">
					<li><a href="/post">Posts</a></li>
			    <li><a href="/project">Projects</a></li>        
			    <li><a href="/note">Notes</a></li>
          <li><a href="/photos">Photos</a></li>
			  </ul>            
  	</nav>
    </div>			
    <div class="container">
