<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Meta Info -->
    <meta charset="utf-8">
    <title>{{ .Title }} | mariosanchez.org</title>
    <meta name="author" content="Mario Sanchez Carrion">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Scripts-->    
    <script src="/js/theme.js"></script>
<!-- Styles -->
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
  </head>
<!-- Start Page -->
  <body>
    <div class="header"></div>
    <a href="/">
      <div class="avatar">
        <a style="cursor:pointer;">
        <span class="icon" id="toggle-switch"> <i class="fas fa-sun fa-2x hd"></i></span><br />
        </a>
      </div>
    </a>
    <div class="centered logo">
      <a href="/"><img src="/img/mario-pix-dk.png" width="150" /></a>
    </div>
      <nav>
        <ul>
          <li>
            <a href="/posts/">blog</a>
          </li>
          <li>
            <a href="/coding/">coding</a>
          </li>
          <li>
            <a href="/uses/">stack</a>
          </li>
          <li>
            <a href="/photos/">photos</a>
          </li>
          <li>
            <a href="/about/">about</a>
          </li>
        </ul>
      </nav>
    <div class="container">
