<!DOCTYPE html>
<html>
  <head>
<!-- Meta Info -->
    <meta charset="utf-8">
    <title>{{ .Title }} | mariosanchez.org</title>
    <meta name="author" content="Mario Sanchez Carrion">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "_internal/twitter_cards.html" . }}
<!-- Scripts-->
    
<!-- Styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
<!-- Start Page -->
  <body>
		<div class="header"></div>
		<a href="/">
			<div class="avatar"></div>
		</a>
    <div class="centered">		
	  <a href="/" class="logo"><h1>msc</h1></a>
    <nav>
			  <ul class="blocknav">
					<li>
                <a href="/post/">
                <span class="icon"> <i class="fas fa-pen fa-2x hd"></i></span><br />
                <span> posts </span>
            </a>
            </li>
			    <li><a href="/project/">
                <span class="icon"> <i class="fas fa-laptop-code fa-2x hd"></i></span><br />
                <span> projects </span>
            </a></li>			    
          <li><a href="/photos/">
                <span class="icon"> <i class="far fa-images fa-2x hd"></i></span><br />
                <span> photos </span>
            </a></li>
			  </ul>            
  	</nav>
    </div>			
    <div class="container">
