<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Tutor | mariosanchez.org</title>
    <meta name="author" content="Mario Sanchez Carrion">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <script src="/js/theme.js"></script>

    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
  </head>
  <body>
  <div class="header"></div>
    <a href="/">
      <div class="avatar">
        <a style="cursor:pointer;">
        <span class="icon" id="toggle-switch"> <i class="fas fa-sun fa-2x hd"></i></span><br />
        </a>
      </div>
    </a>
  <div>
  <div class="cont">
        <br />

<h1 class="centered">Engaging Math Tutor</h1>
<p class="centered"><img src="/img/msc-li.jpg" class="profile small round"></p>
<h2 class="centered">Mario Sanchez Carrion</h2>
<p>👋 Hi, I’m Mario. After 30 years in the corporate world, I am now pursuing my passion for math and teaching by helping students understand the basic concepts of algebra, geometry, trigonometry and other common math topics. I am also working with students who want to prepare for the math section of the <strong>SAT</strong>, <strong>ACT</strong>, and <strong>ASVAB</strong> tests.</p>
<p>My experience in teaching comes not from a traditional education background, but from the corporate world. As an Industrial Engineer and MBA, one of my most important tasks was to give presentations that required me to distill and simplify complex concepts, while keeping my audience engaged. I am now using those same skills in my math tutoring sessions.🌱</p>
<p>I firmly believe that math is not difficult: it is just poorly taught. During my tutoring sessions I make sure that my students master the basics first. I also use examples to make the concepts less abstract and easier to understand. My goal is to help students overcome their fear of math, enjoy the learning process, and do well in class and tests.</p>
<h3 class="centered">📱 (954) 309-1077</h3>
<h3 id="areas-of-expertise">Areas of Expertise</h3>
<p>🎯 Arithmetic</p>
<p>🎯 Pre-Algebra</p>
<p>🎯 Algebra I</p>
<p>🎯 Algebra II</p>
<p>🎯 Geometry</p>
<p>🎯 Trigonometry</p>
<p>🎯 Math Test Prep (SAT, ACT, ASVAB)</p>
<h3 id="how-this-works">How This Works</h3>
<p>I am available for online and in-person classes. Online classes are conducted via the <a href="https://www.wyzant.com/refer/tutor/89013474?utm_source=TREF&utm_campaign=GI&utm_content=TProfile&utm_medium=link">Wyzant</a> platform. Ideally, students will contact me before the class to let me know what subjects they need help with (either the general topics or the specific exercises they want us to review together).</p>
<p>During our lessons I ensure that students understand the concepts behind the solutions to problems, so that they can later apply them themselves.</p>
<h3 class="centered">📱 (954) 309-1077</h3>
<h3 id="rates">Rates</h3>
<p>🙋‍♂️<strong>In Person</strong>: $45/hr (no more than 5 miles from zip code 33155)</p>
<p>👨‍💻<strong>Online</strong>: $30/hr</p>
<h3 id="about-me">About Me</h3>
<p>I am originally from Peru and have been living in the US since 1989. I am an Industrial Engineer and MBA by trade. I am also fully bilingual and can conduct my classes in English or Spanish. Before tutoring, I worked for 30 years in international marketing for large consumer goods companies. Besides math, my passions are <strong><a href="/coding">computer programming</a></strong>, <a href="https://ebird.org/profile/Mzk1MTc2Nw/world">birding</a>, and <strong>soccer</strong>.</p>
<h3 id="contact-me">Contact Me</h3>
<p>Please feel free to contact me at:</p>
<p>📧 <a href="mailto:mario@mariosanchez.org">mario@mariosanchez.org</a></p>
<p>📱 (954) 309-1077</p>


<br />
<hr />
  <p class="centered small">
    &copy; 2024 Mario Sanchez Carrion
  </p>
  </div>
  </div>
  </body>
  </html>
