{{ partial "header.html" . }}

<main id="main">  
  <p>
    My name is <strong>Mario Sanchez Carrion</strong>. I am currently retired from the corporate world and inmersing myself in the world of programming. 
  </p>  
    
  <h2>Certifications</h2>
  <p>
    <i class="fab fa-python"></i> <a href="https://coursera.org/share/0168b3865fa7c7107114726e339d71a6">Django For Everybody</a> - 2021<br />
    <i class="fab fa-google"></i> <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/FCRCG62QHYBN">Google IT Support</a> - 2021<br />
    <i class="far fa-chart-bar"></i> <a href="https://freecodecamp.org/certification/mariobox/data-analysis-with-python-v7">Data Analysis with Python</a> - 2021<br />
    <i class="far fa-lightbulb"></i> <a href="https://drive.google.com/file/d/1fm8EQ2jkeUGUr0A6HB1Nddf7dOTvClUG/view?usp=sharing">CS50x Introduction to Computer Science</a> - 2018<br />
  </p>
  <h2>Now</h2>
    <p>
      I am currently taking <a href="https://cs50.harvard.edu/python/2022/">CS50P</a>, Harvard's Introduction to Programming with Python.
    </p>
    <p>
      I am also helping students with SAT and GMAT math preparation.
    </p>
    <h2>Contact</h2>
    <p>
      mario (at) mariosanchez (dot) org
    </p>
    
</main>

{{ partial "footer.html" . }}
