{{ partial "header.html" . }}

<div class="row mb-4">
  <div class="col">
    <ul class="nav nav-tabs" role="tablist">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
          Tutoring
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/coding/">
          Coding
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/blog/">
          Blog
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/now/">
          Now
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="course mb-4">
      <h5 style="font-weight: 600">Areas of Expertise</h5>
      <ul>
        <li>Pre-Algebra</li>
        <li>Algebra 1</li>
        <li>Algebra 2</li>
        <li>Geometry</li>
        <li>Trigonometry</li>
        <li>Statistics</li>
        <li>SAT Math Preparation</li>
        <li>ACT Math Preparation</li>
      </ul>

      <h5 style="font-weight: 600">How it Works</h5>
      <p>I am available for online classes only. Lessons are conducted via <a href="https://meet.google.com/landing">Google Meet</a>. Ideally, students will contact me
        before the class to let me know what subjects they need help with (either the general topics or the specific exercises they
        want us to review together).
      </p>
      <h5 style="font-weight: 600">Current Rates</h5>

      <p><span class="bold">Online</span>: $45/hr

      <h5 style="font-weight: 600">Teaching Style</h5>

      <p>
        I bring a strong math foundation from Industrial Engineering and an MBA. My teaching experience is rooted in the corporate world. As a product manager, I learned to simplify complex ideas for non-technical audiences—skills I now use in tutoring.</p>
      <p>
        With a background in programming, I also apply computational thinking techniques to make math logical and approachable.</p>

      <p>
        I believe math isn’t inherently difficult; it’s often just taught poorly, with too much focus on memorizing formulas.
        </p><p>In my sessions, students build intuition first, then master methods step by step. My goal is simple: to help students overcome fear, enjoy learning, and succeed in class and exams.</p>

  

      {{ partial "footer.html" . }}